#id01{
    color: brown;
}

.zagolovok_col{
    color: blue;
}
.kniga_color1{
    color: peru;
    font-size: 150%;
}
.rightpic{
    float: right; 
    margin: 0 0 5px 5px; 
}
.kniga_color2{
    color: peru;
}
.kniga{
    color: brown;
    font-size: 140%;

}
#kniga1{
    color: brown;
    font-size: 160%;
}
.rightpic1{
    float: left; 
    margin: 0 0 5px 5px; 
}

#id2{
    color: brown;
    font-size: 140%
}
#id3{
    color: peru;
    font-size: 140%
}
#id4{
    color: darkred;
    font-size: 150%
}
hr {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}
BODY {
    background:url(../img/4.jpg)
   } 
   @media(max-width:750px){
    .kniga_color1{
        color: peru;
        font-size: 120%;

    }
    .rightpic{
        float: left; 
        margin: 0 0 5px 5px; 
        margin-top: 0px;
        width: 100%;
    }
    .kniga{
        color: brown;
        font-size: 120%;
    }
    .kniga_color2{
        color: peru;
        font-size: 120%;
    }
    #id2{
        color: black;
        font-size: 250%
    }
    #id3{
        color: peru;
        font-size: 120%;
        margin-top:0px ;
    }
   

}
@media(max-width:414px){
    .kniga_color1{
        color: black;
        font-size: 150%;

    }
    .rightpic{
        float: left; 
        margin: 0 0 5px 5px; 
    }
    .kniga{
        color: brown;
        font-size: 150%;
    }
    .kniga_color2{
        color:black;
        font-size: 150%;
    }
    #id2{
        color: black;
        font-size: 250%
    }
    .rightpic1{
        float: left; 
        margin: 0 0 5px 5px; 
        width: 100%;
    }
    #id3{
        color: brown;
        font-size: 150%;
        margin-top:0px ;
    }
    
    #id4{
        color:red;
        font-size: 150%
    }

}

